<template>
    <default-form>
        <vue-dropzone id="vue_dropzone" ref="vue_dropzone" :options="dropzone_options" @vdropzone-success="$emit('completed')"></vue-dropzone>
    </default-form>
</template>

<script>
    import Vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        components: {
            VueDropzone: Vue2Dropzone
        },
        props: {
            product_id: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                dropzone_options: {
                    url: route('auth.products.image', {product: this.product_id}).toString(),
                    thumbnailWidth: 150,
                    uploadMultiple: false,
                    acceptedFiles: 'image/*',
                    paramName: 'image',
                    headers: {
                        'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content
                    }
                }
            }
        }
    }
</script>