<template>
    <default-page>
        <shop-overview-title>Moskee in {{ city.capitalize() || ''}}</shop-overview-title>
        <shop-overview></shop-overview>
    </default-page>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import ShopOverview from "../components/ShopComponents/ShopOverview";

    export default {
        components: {ShopOverview},
        meta() {
            return {
                title: 'Moskee ' + this.city.capitalize() + ' - Moskee Spot!',
                meta: [
                    {
                        name: 'description',
                        content: 'Moskee ' + this.city.capitalize()
                            + ' - Moskee spot. De beste Moskee bezorgers uit ' + this.city.capitalize()
                            + ' voor jou op een rijtje.'
                    }
                ]
            }
        },
        computed: {
            ...mapState('shops', {
                shops: 'shops'
            }),
            city() {
                return this.$route.params.city;
            }
        },
        methods: {
            ...mapActions('shops', {
                fetchShopsByCity: 'fetchShopsByCity'
            }),
        },
        watch: {
            city: {
                immediate: true,
                handler(city) {
                    this.fetchShopsByCity(city);
                }
            }
        }
    }
</script>
