<template>
    <default-page>
        <default-form>
            <v-layout row>
                <v-flex xs7>
                    <v-layout row v-show="show_notification">
                        <v-alert color="green" :value="true">
                            Succesvol verzonden!
                        </v-alert>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs6>
                            <v-text-field box v-model="name" label="Naam"></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field box v-model="email" label="E-mail"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-textarea auto-grow box v-model="message" label="Bericht"></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout row align-center justify-center>
                        <v-flex xs4>
                            <v-btn block color="#1e88e5" style="color:white;" @click="postForm">Verstuur!</v-btn>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex xs5>
                    <blockquote class="display-1 font-weight-thin ml-4">
                        Voor vragen kun je hier mij een bericht sturen. Ik zal proberen binnen 24 uur te reageren.
                    </blockquote>
                </v-flex>
            </v-layout>
        </default-form>
    </default-page>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                email: '',
                message: '',
                show_notification: false
            }
        },
        methods: {
            postForm() {
                axios.post(route('contact'), {
                    name: this.name,
                    email: this.email,
                    message: this.message
                }).then(() => {
                    this.name = '';
                    this.email = '';
                    this.message = '';

                    this.show_notification = true;
                });
            }
        }
    }
</script>

<style scoped>

</style>