<template>
    <default-page>
        <v-layout row align-center justify-center>
            <v-flex xs5 mt-4>
                <v-sheet
                        class="pa-2 pb-4 d-flex"
                        color="grey lighten-2"
                        evelation="3"
                >
                    <v-layout column>
                        <span class="display-3 font-weight-thin text-xs-center">Pagina niet gevonden</span>
                        <span class="title font-weight-light text-xs-center">
                        Kijk hieronder voor andere Moskee
                        </span>
                    </v-layout>
                </v-sheet>
            </v-flex>
        </v-layout>
        <v-layout row align-center justify-center>
            <v-flex xs10>
                <shop-random-cards :amount="3" :populair="true"></shop-random-cards>
            </v-flex>
        </v-layout>
    </default-page>
</template>

<script>
    import ShopRandomCards from "../components/ShopComponents/ShopRandomCards";
    export default {
        components: {ShopRandomCards}
    }
</script>

<style scoped>

</style>
