<template>
    <default-page>
        <shop-overview-title>
            Moskee in provincie {{ this.province.capitalize() || '' }}
        </shop-overview-title>
        <shop-overview></shop-overview>
    </default-page>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import ShopOverview from "../components/ShopComponents/ShopOverview";

    export default {
        components: {ShopOverview},
        meta() {
            return {
                title: 'Moskee in ' + this.province + ' - Moskee Spot!',
                meta: [
                    {
                        name: 'description',
                        content: 'Moskee in ' + this.province
                            + ' - Moskee spot'
                    }
                ]
            }
        },
        computed: {
            ...mapState('shops', {
                shops: 'shops'
            }),
            province() {
                return this.$route.params.province;
            }
        },
        methods: {
            ...mapActions('shops', {
                fetchShopsByProvince: 'fetchShopsByProvince'
            }),
        },
        watch: {
            province: {
                immediate: true,
                handler(province) {
                    this.fetchShopsByProvince(province);
                }
            }
        }
    }
</script>
