<template>
    <div>
        <default-page>
            <template v-slot:card-content>
                <shop-banner></shop-banner>
            </template>
        </default-page>
        <default-page>
            <v-layout row wrap>
                <v-flex md9 sm12>
                    <shop-description>
                        <template v-slot:before-description>
                            <v-layout row v-if="shop.image && shop.image.length > 0" justify-center align-center wrap my-3>
                                <v-flex xs3>
                                    <v-img :src="shop.image" :alt="shop.name" :title="shop.title"></v-img>
                                </v-flex>
                                <v-flex xs12 my-3>
                                    <v-divider></v-divider>
                                </v-flex>
                            </v-layout>
                        </template>
                        <shop-products></shop-products>
                    </shop-description>
                </v-flex>
                <v-flex md3 sm12>
                    <v-layout row>
                        <v-flex xs12>
                            <shop-contact-info></shop-contact-info>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <shop-opening-hours></shop-opening-hours>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <shop-deliver-cities></shop-deliver-cities>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </default-page>
        <default-page>
            <default-card>
                <template v-slot:title>Recensie's</template>
                <template v-slot:card-content>
                    <shop-reviews></shop-reviews>
                </template>
            </default-card>
        </default-page>
        <default-page v-if="shops.length > 1">
            <default-card>
                <template v-slot:title>Kijk ook de volgende Moskee uit {{ shop.city.name }}!</template>
                <template v-slot:card-content>
                    <shop-random-cards :amount="3"></shop-random-cards>
                </template>
            </default-card>
        </default-page>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import ShopReviews from "../components/ShopComponents/ShopReviews";
    import ShopProducts from "../components/ShopComponents/ShopProducts";
    import ShopRandomCards from "../components/ShopComponents/ShopRandomCards";
    import ShopDeliverCities from "../components/ShopComponents/ShopDeliverCities";
    import {truncate} from "lodash";

    export default {
        components: {ShopDeliverCities, ShopRandomCards, ShopProducts, ShopReviews},
        meta() {
            return {
                title: 'Moskee in ' + this.shop_name + ' - Moskee Spot!',
                meta: [
                    {name: 'description', content: 'Moskee in ' + this.shop_city + ' - ' + this.shop_description}
                ]
            }
        },
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop',
                shops: 'shops'
            }),
            shop_id() {
                return this.$route.params.shop;
            },
            shop_name() {
                if (! this.shop_loaded) {
                    return '';
                }

                return this.shop.name.capitalize();
            },
            shop_description() {
                if (! this.shop_loaded) {
                    return '';
                }

                return truncate(this.shop.description, 100);
            },
            shop_city() {
                if (! this.shop_loaded) {
                    return '';
                }

                return this.shop.city.name.capitalize();
            },
            shop_loaded() {
                return !! this.shop.id;
            }
        },
        watch: {
            shop_id: {
                immediate: true,
                handler() {
                    this.fetchShop(this.shop_id);
                }
            }
        },
        methods: {
            ...mapActions('shops', {
                fetchShop: 'fetchShop',
            }),
            increaseViewed() {
                return axios.post(route('shop.increase_view', {shop: this.shop_id}));
            }
        },
        created() {
            this.increaseViewed();
        }
    }
</script>
