<template>
    <forum-topics></forum-topics>
</template>

<script>
    import ForumTopics from '../../components/ForumComponents/Topics';

    export default {
        components: [
            ForumTopics
        ],
        data() {
            return {}
        }
    };
</script>
