<template>
    <div>
        <template v-if="! reviews || reviews.length === 0">
            <v-layout row align-center mt-4>
                <v-flex xs6 offset-xs1>
                    <blockquote class="blockquote">
                        Geen recensie's
                    </blockquote>
                </v-flex>
            </v-layout>
            <v-layout row my-4>
                <v-divider></v-divider>
            </v-layout>
        </template>

        <v-layout row wrap my-3 v-for="review in reviews" :key="review.id">
            <v-flex xs10 offset-xs1>
                <shop-review :review="review"></shop-review>
            </v-flex>
            <v-flex xs12 my-3>
                <v-divider></v-divider>
            </v-flex>
        </v-layout>

        <shop-review-form @review-created="refreshShop"></shop-review-form>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import ShopReview from "./ShopReview";

    export default {
        components: {ShopReview},
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            }),
            reviews() {
                return this.shop.reviews;
            }
        },
        methods: {
            ...mapActions('shops', {
                fetchShop: 'fetchShop'
            }),
            refreshShop() {
                this.fetchShop(this.shop.id);
            }
        }
    }
</script>