<template>
    <default-card>
        <template v-slot:title>
            Openingstijden
        </template>
        <template v-slot:card-content>
            <v-list>
                <v-list-tile v-for="(opening_hour, index) in opening_hours" :key="index">
                    <v-layout row align-center fill-width>
                        <v-flex xs1>
                            <v-icon>access_time</v-icon>
                        </v-flex>
                        <v-flex xs2 offset-xs5>{{ days[index] }}</v-flex>
                        <v-flex xs5>
                            <span :class="{
                            'font-weight-bold': current_day === opening_hour.day}">
                                <template v-if="opening_hour.open_from === '00:00' && opening_hour.open_till === '00:00'">
                                    Gesloten
                                </template>
                                <template v-else>
                                    {{ opening_hour.open_from }} - {{ opening_hour.open_till }}
                                </template>
                            </span>
                        </v-flex>
                    </v-layout>
                </v-list-tile>
            </v-list>
        </template>
    </default-card>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        data() {
            return {
                days: [
                    'Ma',
                    'Di',
                    'Wo',
                    'Do',
                    'Vr',
                    'Za',
                    'Zo'
                ]
            }
        },
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            }),
            current_day() {
                return this.shop.current_day.day;
            },
            opening_hours() {
                return this.shop.opening_hours;
            }
        }
    }
</script>

<style scoped>

</style>