<template>
    <div>
        <v-layout row wrap justify-space-around mt-2 align-center v-for="(shops, index) in shops_chunks"
                  v-if="all_shops.length > 0"
                  :key="index" mb-5>
            <v-flex md4 xs12 sm6 v-for="shop in shops" :key="shop.id">
                <shop-card :shop="shop"></shop-card>
            </v-flex>
        </v-layout>
        <blockquote class="blockquote" v-else>
            Geen moskeeën  met jou zoekopdracht
        </blockquote>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import {chunk} from "lodash";

    export default {
        computed: {
            ...mapState('shops', {
                all_shops: 'shops'
            }),
            shops_chunks() {
                return chunk(this.all_shops, 2);
            }
        }
    }
</script>
