<template>
    <v-container>
        <v-layout row wrap>
            <v-flex md6 sm12 v-for="product in products" :key="product.id">
                <default-card>
                    <v-layout row wrap>
                        <v-flex xs12 md4>
                            <v-img v-if="product.image !== null" :src="product.image"></v-img>
                        </v-flex>
                        <v-flex xs12 md8>
                            <v-layout row justify-space-between align-center mt-2>
                                <v-flex xs5 md7>
                                    <span class="subheading grey--text text--darken-1 ml-2 text-truncate">{{ product.name | truncate(25)}}</span>
                                </v-flex>
                                <v-flex xs5 md3>
                                    <span class="title font-weight-bold">&euro; {{ product.price }}</span><br/>
                                    <span class="caption">Borg: &euro; {{ product.deposit }}</span>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs11>
                                    <v-divider></v-divider>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex x11>
                                    <blockquote :class="{'blockquote':  $vuetify.breakpoint.mdAndUp, 'body-1':  $vuetify.breakpoint.smAndDown, 'pa-2': $vuetify.breakpoint.smAndDown}">
                                        {{ product.description }}
                                    </blockquote>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                </default-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            }),
            products() {
                return this.shop.products;
            }
        }
    }
</script>