<template>
    <v-parallax
            dark
            src="/images/banner.jpg"
            height="180"
            :alt="shop.city.name + ' - ' + shop.name"
    >
        <v-layout align-center row justify-center>
            <v-flex xs8 md6>
                <v-sheet class="d-flex"
                         color="grey lighten-5"
                >
                    <v-layout align-center column justify-center my-3>
                        <h1 class="font-weight-thin mb-3" :class="{'display-2':  $vuetify.breakpoint.mdAndUp, 'display-1':  $vuetify.breakpoint.smAndDown}">{{ shop.name }}</h1>
                        <h4 :class="{'subheading':  $vuetify.breakpoint.mdAndUp, 'body-2':  $vuetify.breakpoint.smAndDown}">{{ shop.city.name }} - {{ shop.title }}
                            <u v-show="shop.is_open" class="green--text">Geopend</u>
                        </h4>
                        <v-rating
                                v-model="shop.average_rating"
                                background-color="grey"
                                color="yellow accent-4"
                                dense
                                half-increments
                                readonly
                                length="5"
                                size="18"
                        ></v-rating>
                    </v-layout>
                </v-sheet>
            </v-flex>
        </v-layout>
    </v-parallax>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            })
        }
    }
</script>

<style scoped>

</style>