<template>
    <v-container fluid fill-height grid-list-md>
        <slot name="content">
            <default-card>
                <slot>
                    <slot name="header">
                        <template v-slot:header>
                            <slot name="title">
                                <template v-slot:title></template>
                            </slot>
                        </template>
                    </slot>
                    <slot name="card-content">
                        <template v-slot:card-content></template>
                    </slot>
                </slot>
            </default-card>
        </slot>
    </v-container>
</template>