<template>
    <v-navigation-drawer
            fixed
            width="200"
            app
            v-model="drawer"
    >
        <v-list dense>
            <v-list-tile :to="{name: 'auth.shops'}">
                <v-list-tile-content>
                    <v-list-tile-title>Moskeeën</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile :to="{name: 'auth.products'}">
                <v-list-tile-content>
                    <v-list-tile-title>Producten</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile :to="{name: 'auth.reviews'}">
                <v-list-tile-content>
                    <v-list-tile-title>Recensies</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile :to="{name: 'auth.cities'}">
                <v-list-tile-content>
                    <v-list-tile-title>Steden</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="signOut">
                <v-list-tile-content>
                    <v-list-tile-title>Logout</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import MenuMixin from '../../mixins/MenuMixin';

    export default {
        mixins: [MenuMixin],
        methods: {
            signOut() {
                axios.post(route('logout')).then(() => {
                    window.location.href = '/';
                });
            }
        }
    }
</script>
