<template>
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Product toevoegen</v-toolbar-title>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <product-form></product-form>
        </template>
    </default-page>
</template>

<script>
    import ProductForm from "../../components/ProductComponents/ProductForm";

    export default {
        components: {ProductForm}
    }
</script>