<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Stad Aanmaken</v-toolbar-title>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <city-form></city-form>
        </template>
    </default-page>
</template>

<script>
    import CityForm from "../../components/CityComponents/CityForm";

    export default {
        components: {CityForm},
    }
</script>