<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Stad Bewerken</v-toolbar-title>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <city-form></city-form>
        </template>
    </default-page>
</template>

<script>
    import {mapActions} from 'vuex';
    import CityForm from "../../components/CityComponents/CityForm";

    export default {
        components: {CityForm},
        methods: {
            ...mapActions('cities', {
                fetchCity: 'fetchCity'
            }),
        },
        created() {
            this.fetchCity(this.$route.params.city);
        }
    }
</script>