<template>
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Moskeeën</v-toolbar-title>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <v-data-table
                    :headers="headers"
                    :items="reviews"
                    class="elevation-1"
                    :rows-per-page-items="[{value: -1}]"
                    hide-actions
            >
                <template v-slot:no-data>
                    <v-alert :value="true" color="error" icon="warning">
                        Geen resultaat
                    </v-alert>
                </template>
                <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.email }}</td>
                    <td>{{ props.item.comment }}</td>
                    <td>{{ props.item.price }}</td>
                    <td>{{ props.item.quality }}</td>
                    <td>{{ props.item.service }}</td>
                    <td>{{ props.item.ip_address }}</td>
                    <td>
                        <v-icon
                                class="mr-2"
                                :color="props.item.allow ? 'error' : 'success'"
                                @click="toggleReview(props.item)"
                        >
                            {{ props.item.allow ? 'delete_forever' : 'check_circle'}}
                        </v-icon>
                    </td>
                </template>
            </v-data-table>
        </template>
    </default-page>
</template>

<script>
    import {mapActions, mapState} from 'vuex';

    export default {
        data() {
            return {
                headers: [
                    {text: 'Naam', value: 'name', sortable: false},
                    {text: 'Email', value: 'email', sortable: false},
                    {text: 'Commentaar', value: 'comment', sortable: false},
                    {text: 'Prijs', value: 'price', sortable: false},
                    {text: 'Kwaliteit', value: 'quality', sortable: false},
                    {text: 'Service', value: 'service', sortable: false},
                    {text: 'IP adres', value: 'ip_address', sortable: false},
                    {text: 'Acties', value: '', sortable: false}
                ]
            }
        },
        computed: {
            ...mapState('reviews', {
                reviews: 'reviews'
            }),
        },
        methods: {
            ...mapActions('reviews', {
                fetchReviews: 'fetchReviews'
            }),
            toggleReview(review) {
                axios.post(route('auth.reviews.toggle', {review: review.id})).then(() => {
                    review.allow = ! review.allow;
                });
            }
        },
        created() {
            this.fetchReviews();
        }
    }
</script>
