<template>
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Moskeeën</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn dark flat :to="{name: 'auth.shops.create'}">Nieuwe verkoper</v-btn>
                </v-toolbar-items>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <v-data-table
                    :headers="headers"
                    :items="shops"
                    class="elevation-1"
                    :rows-per-page-items="[{value: -1}]"
                    hide-actions
            >
                <template v-slot:no-data>
                    <v-alert :value="true" color="error" icon="warning">
                        Geen resultaat
                    </v-alert>
                </template>
                <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.title }}</td>
                    <td>{{ props.item.slug }}</td>
                    <td class="text-xs-right">{{ props.item.viewed}}</td>
                    <td>{{ props.item.city.name }}</td>
                    <td>{{ props.item.phone_number }}</td>
                    <td>
                        <v-icon
                                class="mr-2"
                                color="secondary"
                                @click="imageShop(props.item)"
                        >
                            add_a_photo
                        </v-icon>
                        <v-icon
                                class="mr-2"
                                color="secondary"
                                @click="editShop(props.item)"
                        >
                            edit
                        </v-icon>
                        <v-icon
                                class="mr-2"
                                color="error"
                                @click="deleteShop(props.item)"
                        >
                            delete_forever
                        </v-icon>
                    </td>
                </template>
            </v-data-table>
        </template>
    </default-page>
</template>

<script>
    import {mapActions, mapState} from 'vuex';

    export default {
        data() {
            return {
                headers: [
                    {text: 'Naam', value: 'name'},
                    {text: 'Titel', value: 'title'},
                    {text: 'Url', value: 'slug'},
                    {text: 'Aantal x bekeken', value: 'viewed'},
                    {text: 'Stad', value: 'city'},
                    {text: 'Telefoonnummer', value: 'phone_number'},
                    {text: 'Acties', value: '', sortable: false}
                ]
            }
        },
        computed: {
            ...mapState('shops', {
                shops: 'shops'
            }),
        },
        methods: {
            ...mapActions('shops', {
                fetchShops: 'fetchShops'
            }),
            editShop(shop) {
                this.$router.push({name: 'auth.shops.edit', params: {shop: shop.id}})
            },
            imageShop(shop) {
                this.$router.push({name: 'auth.shops.images', params: {shop: shop.id}})
            },
            deleteShop(shop) {
                if (! confirm("Weet je het zeker?")) {
                    return;
                }

                axios.delete(route('auth.shops.delete', {shop: shop.id})).then(() => {
                    this.fetchShops();
                })
            }
        },
        created() {
            this.fetchShops();
        }
    }
</script>
